{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": ["^components/(.*)$", "^[./]"],

	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
